# ------------------
# from application
# (actionlog, etc)
# ------------------

<source>
  @type forward
  port 10224
</source>

<source>
  @type forward
  port 24224
</source>


# ------------------
# From syslog
# ------------------

<source>
  @type udp
  tag alert.allmessages
  port 10514
  format /^(?<time>[^ ]*) (?<facility>\w*).(?<level>[^ ]*) (?<ident>[a-zA-Z0-9_\/\.\-]*)(?:\[(?<pid>[0-9]+)\])?[^\:]*\: *(?<message>.*)$/
  time_format %FT%T.%L%:z
</source>


# ------------------
# access_log
# ------------------

<source>
  @type udp
  port 11514
  format ltsv
  time_key time
  time_format %Y-%m-%dT%H:%M:%S%z
  tag access.nginx
</source>

<source>
  @type udp
  port 12514
  format ltsv
  time_key time
  time_format %d/%b/%Y:%H:%M:%S %z
  tag access.uwsgi
</source>


<source>
  @type tail
  format ltsv
  path /data/log/uwsgi_access.log
  time_key time
  time_format %d/%b/%Y:%H:%M:%S %z
  tag access.uwsgi
  pos_file /data/pos/uwsgi_access.pos
</source>

<source>
  @type tail
  format ltsv
  path /data/log/gunicorn_access.log
  time_key time
  time_format %Y-%m-%dT%H:%M:%S.%L
  tag access.gunicorn
  pos_file /data/pos/gunicorn_access.pos
</source>

<source>
  @type tail
  format ltsv
  path /data/log/nodejs_access.log
  time_key time
  time_format %Y-%m-%dT%H:%M:%S.%L%z
  tag access.nodejs
  pos_file /data/pos/nodejs_access.pos
</source>

<source>
  @type tail
  format ltsv
  path /data/log/nginx_access.log
  time_key time
  time_format %Y-%m-%dT%H:%M:%S%z
  tag access.nginx
  pos_file /data/pos/nginx_access.pos
</source>

# nginx error log
<source>
  @type tail
  path /data/log/nginx_error.log
  tag alert.nginx
  format /^(?<time>[^ ]+ [^ ]+) \[(?<level>[^\]]+)\] (?<pid>\d*).(?<tid>[^:]*): (?<message>.*)$/
  time_key time
  time_format %Y/%m/%d %H:%M:%S
  pos_file /data/pos/nginx_error.pos
</source>


# ------------------
# Filters
# ------------------

<filter **>
  @type record_transformer
  <record>
    server_name ${hostname}
    app_name {{ .Env.APP_NAME }}
  </record>
</filter>


# ------------------
# Forward
# ------------------

<match access.**>
  @type forward
  heartbeat_type tcp
  flush_interval 1s

  buffer_type file
  buffer_path /data/buffer/forward_access.buf

  expire_dns_cache 60s
  dns_round_robin true

  <server>
    host {{ .Env.TO_HOST }}
    port 10224
  </server>
</match>

<match *.**>
  @type forward
  heartbeat_type tcp
  flush_interval 1s
  require_ack_response

  expire_dns_cache 60s
  dns_round_robin true

  <server>
    host {{ .Env.TO_HOST }}
    port 10224
  </server>
</match>
